@font-face {
  font-family: poppins;
  src: url("./fonts/Poppins-Regular.ttf");
}

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: poppins;
  text-decoration: none;
  list-style: none;
}
body{
  background-color: #f8f9fa;
}

dl,
ol,
ul {
  margin: 0;
  padding: 0;
}

.headline-container {
  background-color: #eee;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.fa-envelope,
.fa-phone-flip {
  font-size: 12px;
  margin: 8px;
  color: #666;
}

.headline-ul {
  display: flex;
}

.headline-li {
  margin: 0 5px;
  color: #666;
  font-size: 12px;
  font-weight: bold;
}

.lang-selector {
  background-color: #ffffff;
  height: 25px;
  width: 70px;
  text-align: center;
}

.lang-li {
  font-size: 14px;
  color: #666;
  cursor: pointer;
}

.lang-sub-menu-ul {
  display: none;

}

.lang-li:hover .lang-sub-menu-ul {
  display: block;
  margin: 0;
  background-color: #fff;
  position: absolute;
  z-index: 101;
  cursor: pointer;
  width: 70px;
  transition: all 0.3s ease;
}

.nav-div {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  box-shadow: 0 2px 2px rgb(200, 200, 200);
}

.nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.logo-img {
  width: 150px;
}

.nav-ul {
  display: flex;
  align-items: center;
}

.nav-li {
  margin: 0 8px;
  font-size: 13px;
  font-weight: 500;
  cursor: pointer;
  color: #666;
}

.nav-li:hover {
  text-decoration: underline;
  text-decoration-color: #99ca3c;
}

.li-green {
  color: #99ca3c !important;
}

.sub-menu-div {
  width: auto;
  min-width: 150px;
  padding: 10px 0px;
  border-radius: 3px;
  box-shadow: 0px 1px 2px #666;
  background-color: #fff;
  display: none;
  position: absolute;
  z-index: 100;
}

.sub-menu-icon {
  font-size: 13px;
  float: right;
  padding-left: 12px;
  margin-top: 3px;
}

.sub-menu-li {
  padding: 6px 14px;
  font-size: 13px;
}

.sub-menu-li:hover {
  background-color: #99ca3c;
  color: #fff;
}

.nav-li:hover .sub-menu-div {
  display: block;
}

.multi-menu:hover {
  background-color: #d3d3d3;
  color: #666;
}

.nested-menu-div {
  display: none;
  color: #666;
  min-width: 250px;
  width: auto;
  padding: 8px 0;
  font-size: 13px;
  border-radius: 3px;
  box-shadow: 0px 1px 2px #666;
  background-color: #fff;
}

.sub-menu-li:hover .nested-menu-div {
  display: inline-block;
  position: absolute;
  left: 100%;
  color: #666;
}

.nested-li {
  padding: 6px 14px;
}

.nested-li:hover {
  background-color: #99ca3c;
  color: #fff;
}

.inside-menu-div {
  display: none;
  color: #666;
  min-width: max-content;
  width: auto;
  padding: 8px 0;
  font-size: 13px;
  border-radius: 3px;
  box-shadow: 0px 1px 2px #666;
  background-color: #fff;
}

.inside-li {
  padding: 6px 14px;
  font-size: 13px;
}

.inside-li:hover {
  background-color: #99ca3c;
  color: #fff;
}

.nested-li:hover .inside-menu-div {
  display: inline-block;
  position: absolute;
  left: 100%;
  color: #666;
}

/* Donate Button Styling */
.dn-div {
  width: 150px;
  display: flex;
  justify-content: flex-end;
}

.donate-now {
  background-color: #0d6db7;
  border-color: #0d6efd;
  color: #fff;
  border: none;
  font-size: 12px;
  padding: 8px 20px;
  border-radius: 5px;
  transition: all 0.2s ease-in-out;
  cursor: pointer;
}

.donate-now:hover {
  padding: 12px 25px;
}

.intro,.duction{
  font-family: 'Times New Roman', Times, serif;
  font-weight: bold;
  font-size: 2.5rem;
  text-transform:uppercase;
}

.intro{
  color: #0A4DBB;
}

.duction{
  color:#008f00;
}

.intro-desc{
  text-align: justify;
}

.fa-utensils,
.fa-people-roof,
.fa-stethoscope,
.fa-graduation-cap{
  font-size : 2em;
}

.what-we,.are-doing{
  font-family: poppins,sans-serif;
  font-weight: bold;
  font-size: 2.5em;
  text-transform:uppercase;
}

.what-we{
  color:#0A4DBB
}

.are-doing{
  color:#008f00;
}

.card{
  box-shadow: 3px 10px 10px gray;
  min-height: 150px;
  border-radius: 20px;
  cursor: pointer;
}

.card p{
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-weight: bold;
  font-size: 1.5em;
  margin-top: 12px;
}

.card i{
  font-size: 2em;
  color: #008f00;
}

.projects-heading{
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-size: 1.75rem;
  font-weight: 700;
}

.project-card{
  height: 70px;
  border: 2px solid rgb(204, 204, 204);
  border-radius: 15px;
  font-size: 22px;
  background-color: #E6EEF1;
}

.project-card a{
  text-decoration: none !important;
}

.project-card a:hover {
  text-decoration: underline !important;
}

.fa-briefcase-medical{
  color: red;
}
.fa-house{
  color: #008f00;
}
.fa-laptop{
  color: #0A4DBB;
}
.fa-seedling{
  color: #008f00;
}

.blue-hl,.green-hl{
  font-size: 2rem;
  font-weight: 700;
}

.blue-hl{
  color: #0A4DBB;
}

.green-hl{
  color: #008f00;
}

.gallery-container{
  min-height: 400px;
}

.gallery-img{
  width: 210px;
  transition: all 0.5s ease;
}

.gallery-img:hover{
  height: 170px;
  object-fit: cover;
}

.footer-section{
  background-color: #666;
}

.footer-heading{
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif !important;
  font-weight: 700;
}

.copy-dev{
  font-size: 12px;
}

.gototop{
  position: fixed;
  bottom: 20px;
  right: 20px;
}

.go-top-icon{
  opacity: 0.6;
  font-size: 2rem;
  z-index: 2000;
  color:#008f00;
  border: 2px solid #fff;
  border-radius: 100%;
}




@media (max-width: 520px) {
  .headline-ul {
    flex-direction: column;
  }
  .headline-container {
    padding: 0 10px !important;
  }
  .headline-li {
    font-size: 10px;
  }
  .navbar{
    padding: 10px 15px !important;
  }
}

/* @media (min-width: 576px) {}

@media (min-width: 768px) {}

@media (min-width: 992px) {}

@media (min-width: 1200px) {}

@media (min-width: 1400px) {} */
